@import '../../components/bootstrap/bootstrap.scss';
.home {
  padding-top: 50px;

  .list {
    color: $black;
    max-height: 75vh;
    overflow-y: scroll;
  }

  .addContactBtn {
    margin-bottom: 2%;
  }
}